{% extends 'base.html' %}
{%load crispy_forms_tags %}

{% block title %}{% if update %}Update password{% elif reset %}Reset password{% else %}Account mail{% endif %}{% endblock %}

{% block content %}
    <h2>{% if update %}Update Password{% elif reset %}Reset Password{% else %}Account Email{% endif %}</h2>
    <hr>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">{% if update %}Update{% elif reset %}Reset{% else %}Get confirmation mail{% endif %}</button>
    </form>
{% endblock %}